body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(82, 78, 78);
}

.logo {
  cursor: pointer;
  display: inline-block;
}

.nav-area li a {
  transition: .3s;
  color: azure;
  padding: 7px 16px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
}

.nav-area li a:hover {
  color: rgb(255, 0, 0);
  border: 2px solid #f44336;
  background-color: rgba(167, 167, 167, 0.308);
  border-radius: 25px;
}

/* ARTICLE INTRO */
.intro-text {
  margin: 40px;
}
.intro-text p {
  margin: 1.5rem 0 3.5rem;
  font-family: 'Jost', sans-serif;
}

.btn {
  border: 2px solid #f44336;
  text-decoration: none;
  padding: 7px 16px;
  border-radius: 25px;
  transition: .3s;
}

.btn:hover {
  color: #36eef4;
  border: 2px solid #36eef4;
  background-color: rgba(255, 255, 255, 0.404);
  border-radius: 25px;
}

.github {
  width: 8em;
  height: 8em;
  cursor: pointer;
  padding: 10px;
}

/* LANDING ABOUT */
.about {
  width: 100%;
  max-width: 70rem;
  margin: auto;
}

.about .container {
  align-items: center;
}

.about-img img {
  height: 12rem;
  width: auto;
  border-radius: 50%;
  margin: 2rem;
  box-shadow: 0 20px 30px 0 rgba(17, 19, 19, 0.15);
}

.about-img img:hover {
  animation: shake 0.5s;
  animation-iteration-count: 2s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.about-text-box {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.about-text-box h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.about-text-box p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin: 0 0 1.45rem;
}

.about-text-box p span {
  font-family: 'Yeseva One', sans-serif;
  color: wheat;
  transition: .3s;
 }

 .about-text-box p span:hover {
  color: rgb(255, 0, 0);
}

.tweets-intro {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin: 0 0 1.45rem;
}

hr {
  margin: 4rem 0;
  background-image: linear-gradient(
    to right,
    rgb(255, 58, 58) 0%,
    rgb(49, 151, 192) 100%
  );
  border: 0;
  height: 1px;
}

/* Page Wrap */
.page-wrap {
  width: 1190px; 
	margin: auto;
}

/* ROW */
.row {
 text-align: center;
 display: flex;
}

.row-light {
  margin: 0;
  padding: 40px;
  background-color: rgb(255, 255, 255);
}

.row-dark {
  margin: 0;
  padding: 40px;
  background-color: #FAFAFA;
}

.row-light h3 {
  text-align: center;
}

.row-dark h3 {
  text-align: center;
}

/* FOOTER */
footer p {
  text-align: center;
}

footer p a {
  text-decoration: none;
  transition: .3s;
}

footer p a:hover {
  color: rgb(255, 0, 0);
}

/* CARDS */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background-color: rgb(245, 0, 0);
  color: white;
  transform: rotateY(180deg);
}

.flip-card-front img {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SKILLS */
.skill-bars{
  padding: 25px 30px;
  width: 600px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 60%;
}
.bar .progress-line.java span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 50%;
}
.bar .progress-line.mysql span{
  width: 85%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "60%";
}
.progress-line.java span::after{
  content: "85%";
}
.progress-line.python span::after{
  content: "50%";
}
.progress-line.mysql span::after{
  content: "85%";
}

/* ADJUSTMENTS FOR SMALLER SCREENS */
@media (max-width: 800px) {
  .page-wrap {
    width: 100%;
  }
  .row {
    display: block;
    float: none;
    padding: 0;
  }
  .row-dark {
    padding: 0;
    margin: auto;
  }
  .row-light {
    margin: auto;
    padding: 0;
  }
  .skill-bars {
    width: auto;
  }
}
